@import "tailwindcss";
@import "tw-animate-css";
/* ---break---  */
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "mona-light";
  src: url("../assets/fonts/Mona_Sans/static/MonaSans-Light.ttf");
}

@font-face {
  font-family: "mona-regular";
  src: url("../assets/fonts/Mona_Sans/static/MonaSans-Regular.ttf");
}

@font-face {
  font-family: "mona-medium";
  src: url("../assets/fonts/Mona_Sans/static/MonaSans-Medium.ttf");
}

@font-face {
  font-family: "mona-semibold";
  src: url("../assets/fonts/Mona_Sans/static/MonaSans-SemiBold.ttf");
}

@font-face {
  font-family: "mona-bold";
  src: url("../assets/fonts/Mona_Sans/static/MonaSans_Condensed-Bold.ttf");
}

@font-face {
  font-family: "grotesk-light";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Light.ttf");
}

@font-face {
  font-family: "grotesk-bold";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Bold.ttf");
}

@font-face {
  font-family: "grotesk-regular";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Regular.ttf");
}

@font-face {
  font-family: "grotesk-medium";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Medium.ttf");
}

@font-face {
  font-family: "grotesk-semi-bold";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-SemiBold.ttf");
}

@font-face {
  font-family: "grotesk-extra-bold";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-ExtraBold.ttf");
}

@font-face {
  font-family: "valentiamo-regular";
  src: url("../assets/fonts/Valentiamo/Valentiamo-Regular.ttf");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-play-fair);

  /* Fonts  */
  --font-grotesk-light: grotesk-light;
  --font-grotesk-bold: grotesk-bold;
  --font-grotesk-regular: grotesk-regular;
  --font-grotesk-medium: grotesk-medium;
  --font-grotesk-semi-bold: grotesk-semi-bold;
  --font-grotesk-extra-bold: grotesk-extra-bold;
  --font-valentiamo-reg: valentiamo-regular;
  --font-mono-light: mona-light;
  --font-mono-regular: mona-regular;
  --font-mono-medium: mona-medium;
  --font-mono-semibold: mono-semibold;
  --font-mono-bold: mono-bold;

  --color-primary-orange: #fb5711;
  --color-light-brown: #d9c9ae;
  --color-off-white: #2d2c2c;
  --color-grey: #999999;
  --color-darker-grey: #151515;
  --color-dark-grey: #2d2d2c;
  --color-admin-grey: #878787;
  --color-admin-black-100: #292D32;
  --color-admin-grey-300: #667085;
  --color-white-100: #F5F5F5;
  --color-yellow-50: #FBFAF7;
  --color-neutral-light: #E5E5E5;
  --color-admin-black-150: #101010;
  --color-admin-light-50: #EFEEEE;
  --color-admin-light-50: #EFEEEE;
  --color-bayfi-grey: #DCDCDC;
  --color-bayfi-grey-300: #F6F6F6;
  --color-grayish-500: #4B5563;
  --color-grayish-700: #C3C3C2;
  --color-white-200: #ECECEB;

  --breakpoint-3xl: 1400px;

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);
}


body {
  font-family: "grotesk-medium", sans-serif;
  background-color: #101010;
  color: white;
}

a {
  color: inherit !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, scale;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

.navBg {
  backdrop-filter: blur(100px);
  background: #ffffff1a;
}

.aboutLandingBG {
  background-image: url("../assets/images/about-secondImg--cropped.png");
}

.catalogueBG {
  background-image: url("../assets/images/homeHeaderImage--cropped.jpeg");
}

.contactBG {
  background-image: url("../assets/images/catalogue-header.jpeg");
}

/* .parallaxBg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/images/parallaxBg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.parallaxBg {
  position: relative;
  height: 750px;
  overflow: hidden;
}

.parallaxBg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/images/parallaxBg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
  /* iOS fallback */
  @supports (-webkit-touch-callout: none) {
    position: fixed;  
    height: 750px;
    /* height: 100vh; */
    z-index: -1;
  }
}

.parallax-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.aboutLandingBG::before,
.catalogueBG::before,
.contactBG::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.2); */
  /* Grayish overlay */
  border-radius: 32px;
}

.aboutLandingBG,
.contactBG {
  width: 100%;
  /* filter: grayscale(90%) contrast(1); */
  border-radius: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Parallax container */
.parallax-container {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

/* Sticky footer */
.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: #fff;
  /* Adjust background color to match your design */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.landingBg,
.galleryBg {
  border-radius: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.galleryBg {
  min-height: 500px;
  height: 500px;
}


.parallax-bg {
  position: relative;
  min-height: 500px;
  background: url("../assets/images/catalogue-header.jpeg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-content {
  z-index: 10;
  position: relative;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  z-index: 999;
  background-color: #d9c9ae;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.homeBanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/images/homeHeaderImage--cropped.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 650px;
}

/* homeBanner */

.galleryBg {
  background-image: url("../assets/images/homeHeaderImage--cropped.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  height: 650px;
}

.imageRotate {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.loginBackgroundImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/ladyAuthImage.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
}

.custom-switch.ant-switch-checked,
.custom_switch.ant-switch-checked {
  background-color: #D9C9AE !important;
}


/* Style when switch is NOT checked (OFF) */
.custom_switch:not(.ant-switch-checked) {
  background-color: grey !important;
}


@media (min-width: 1400px) {
  .footer {
    height: 100dvh !important;
  }
}

/* ---break---  */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* ---break---  */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* ---break---  */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar {
  scrollbar-width: none;
}


/* Packages scroll */
.scroller {
  max-width: 80vw;
  width: 80vw;
  overflow: hidden;
  padding-block: 0.2rem;
}



.about-scroller {
  max-width: 90vw !important;
  width: 90vw !important;
  overflow: hidden;
  padding-block: 0.2rem;
  overflow: hidden;
}

.scroller__inner {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.scroller__inner_ {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  border:"1px solid red";
}

.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,
      transparent,
      white 20%,
      white 80%,
      transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller .scroller__inner {
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
  width: max-content;
}

.scroller .scroller__inner_ {
  flex-wrap: nowrap;
  animation: scroll 40s reverse linear infinite !important;
  width: max-content;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.pause-scroll {
  animation-play-state: paused !important;
}

/* NEW ABOUT SCROLLER */
.newAbout_scroller {
  width: auto;
  overflow: hidden;
  overflow: hidden;
  padding-block: 0;
}

.newAbout_scroller.scroller {
  overflow: hidden;
  -webkit-mask: none !important;
  mask: none !important;
}

.newAbout_scroller .scroller__inner {
  gap: 10px !important;
}


.sessionForm_modal .ant-modal-content {
  position: relative;
  background-color: #282824 !important;
  background-clip: padding-box;
  border: 0;
  border-radius: 20px !important;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 0 !important;
  /* padding: 20px 24px; */
}


/* CUSTOM DATE PICKER */
/* datepicker.css */
.react-datepicker {
  background-color: #1a1a1a !important;
  color: #BABABA;
  border: 1px solid #575252;
  border-radius: 0.75rem;
}

.react-datepicker__time-container,
.react-datepicker__header {
  background-color: #1a1a1a;
  border-bottom: 1px solid #575252;
}

.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background-color: #333 !important;
}


.reveal-text {
  perspective: 1000px;
  transform-style: preserve-3d;
  transform-origin: center;
  opacity: 0;
  transform: rotateX(-90deg);
  animation: revealText 1s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes revealText {
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes fall {
  0% {
    transform: translateY(-200px) rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: translateY(0px) rotate(var(--rotate, 0deg));
    opacity: 1;
  }
}


.scrollbar {
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.gradient-border-button {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #FFFFFF66 40%, #FFFFFF00 0.01%, #FFFFFF00 0.01%, #FFFFFF1A 10%);
  border-image-slice: 1;
}

/* .linear_bg{
  background-image: url('../assets/images/package-card-linear-bg.png');
  background-repeat: no-repeat;
  background-position: cen;
  position: relative;
  height: 900px;
} */