@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "grotesk-light";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Light.ttf");
}

@font-face {
  font-family: "grotesk-bold";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Bold.ttf");
}

@font-face {
  font-family: "grotesk-regular";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Regular.ttf");
}

@font-face {
  font-family: "grotesk-medium";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Medium.ttf");
}

@font-face {
  font-family: "grotesk-semi-bold";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-SemiBold.ttf");
}

@font-face {
  font-family: "grotesk-extra-bold";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-ExtraBold.ttf");
}

@font-face {
  font-family: "valentiamo-regular";
  src: url("../assets/fonts/Valentiamo/Valentiamo-Regular.ttf");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-play-fair);

  /* Fonts  */
  --font-grotesk-light: grotesk-light;
  --font-grotesk-bold: grotesk-bold;
  --font-grotesk-regular: grotesk-regular;
  --font-grotesk-medium: grotesk-medium;
  --font-grotesk-semi-bold: grotesk-semi-bold;
  --font-grotesk-extra-bold: grotesk-extra-bold;
  --font-valentiamo-reg: valentiamo-regular;

  --color-primary-orange: #FB5711;
  --color-light-brown: #D9C9AE;
  --color-off-white: #2D2C2C;
  --color-grey: #999999;
  --color-darker-grey: #151515;
  --color-dark-grey: #2D2D2C;

  --breakpoint-3xl: 1400px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "grotesk-medium", sans-serif;
  background-color: #101010;
  color: white;
}

a{
  color: inherit !important;
}

.navBg {
  backdrop-filter: blur(100px);
  background: #FFFFFF1A;
}





/* .landingBg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../assets/images/landingImage.jpeg");
} */


.aboutLandingBG{
  background-image: url("../assets/images/about-secondImg--cropped.png");
}

.catalogueBG{
  background-image: url("../assets/images/homeHeaderImage--cropped.jpeg");
}

.contactBG{
  background-image: url("../assets/images/catalogue-header.jpeg");
}

.galleryBg{
  background: url("../assets/images/homeHeaderImage--cropped.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.aboutLandingBG::before,
.catalogueBG::before,
.contactBG::before,
/* .landingBg::before, */
.galleryBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Grayish overlay */
  border-radius: 32px;
}


/* .landingBg,  */
.aboutLandingBG,
.contactBG,
/* .landingBg, */
.galleryBg {
  width: 100%;
  filter: grayscale(90%) contrast(1.0);
  border-radius: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* Parallax container */
.parallax-container {
  /* position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px; */

  
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

/* Sticky footer */
.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: #fff; /* Adjust background color to match your design */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}


.landingBg {
  /* filter: grayscale(100%) contrast(1.1); */
  border-radius: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}


.parallax-bg {
  position: relative;
  min-height: 500px; 
  background: url("../assets/images/catalogue-header.jpeg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.parallax-content{
  z-index: 10;
  position: relative;
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  z-index: 999;
  background-color: #D9C9AE;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.homeBanner{
  /* background: url("../assets/images/homeHeaderImage--cropped.jpeg"); */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/images/homeHeaderImage--cropped.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 650px;
}







@media (min-width: 1400px) {
  .footer {
    height: 100dvh !important;
  } 
}

